*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 30px;
    align-items: center;
    justify-content: center;
}
.container{
    position: absolute;
    width: 100%;
    height: 2300px;
    left: 10px;
}
#head{
    position: absolute;
    width: 478px;
    height: 50px;
    top: 48px;
    left: 450px;
    border-radius: 12px;
    padding: 10px;
    text-align: center;
    color: #ffffff;
    background: #171582;
}
.cars{
    position: relative;
    display: flex;
    flex-direction: column;
    
    width: 100%;
    height: 2243px;
    gap: 10px;
}
#row1{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 36px;
    top: 170px;
    width: 1452px;
    height: 681px;
}
h2{
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
}
#frame1{
    width: 648px;
    height: 557px;
    border-radius: 50px;
    padding: 30px, 40px;
    background: #ffffff;
    
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.8);
}
#cart1{
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 456px;
    height: 50px;
    left: 100px;
    gap: 100px;
}
#text1{
    width: 178px;
    height: 50px;
    border-radius: 12px;
    padding: 10px;
    gap: 10px;
    background: #171582;
    color: #ffffff;
    text-align: center;
}
#text1:hover{
    border: 1px #171582 solid;
    background-color: #ffffff;
    color: #171582;
}
#price1{
    width: 178px;
    height: 50px;
    border-radius: 12px;
    padding: 10px;
    gap: 10px;
    background: #171582;
    color: #ffffff;
    text-align: center;
}
#frame2{
    width: 648px;
    height: 557px;
    border-radius: 50px;
    padding: 30px, 40px;
    background: #ffffff;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.8);
}
#cart2{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 456px;
    height: 50px;
    top: 90px;
    left: 100px;
    gap: 100px;
}
#row2{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 32px;
    top: 170px;
    width: 1452px;
    height: 681px;
}
#frame3{
    width: 648px;
    height: 557px;
    border-radius: 50px;
    padding: 30px, 40px;
    background: #ffffff;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.8);
}
#cart2{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 456px;
    height: 50px;
    top: 86px;
    left: 100px;
    gap: 100px;
}
#frame4{
    width: 648px;
    height: 557px;
    border-radius: 50px;
    padding: 30px, 40px;
    background: #ffffff;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.8);
}
#row3{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 32px;
    top: 170px;
    width: 1452px;
    height: 681px;
}
#frame5{
    width: 648px;
    height: 557px;
    border-radius: 50px;
    padding: 30px, 40px;
    background: #ffffff;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.8);
}
#frame6{
    width: 648px;
    height: 557px;
    border-radius: 50px;
    padding: 30px, 40px;
    background: #ffffff;
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.8);
}